.container {
	box-sizing: border-box;
	text-align: center;
}

#userGuess {
	margin-bottom: 10px;
}

#guessButton {
	display: block;
	background-color: #333;
	color: white;
	font-weight: 400;
	margin: 0 auto;
	outline: 0;
	border: 0;
}

#guessButton, #userGuess {
	height: 30px;
	width: 200px;
}
