nav ul li {
	font-weight: 700;
	font-size: 1.2em;
}

nav ul li:first-child {
	float: left;
}

nav ul li:last-child {
	float: right;
}

nav a {
	color: black;
}	

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}